@mixin flex-direction {
  display: flex;
  flex-direction: column;
}

@mixin justify-content-center {
  display: flex;
  justify-content: center;
}

@mixin font-weight-size {
  font-weight: 500;
  font-size: 0.9rem;
}

.page {
  margin-top: 0.6rem;
  .products {
    @include flex-direction();
    gap: 0.6rem;
    .product {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: var(--white-color);
      width: 100%;
      .link {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .productBlock {
        @include flex-direction();
        width: 50%;
        gap: 0.6rem;
        .description {
          font-size: 0.8rem;
          color: var(--header-text-color);
        }

        .rating {
          @include font-weight-size();
        }

        .button {
          display: flex;
          gap: 0.5rem;
          .trash {
            @include justify-content-center();
            width: 4%;
            padding: 0.3rem;
            border-radius: 0.2rem;
          }
        }
      }
      .price {
        @include justify-content-center();
        @include font-weight-size();
        width: 5%;
      }
      .quantity {
        @include justify-content-center();
        width: 12%;
        gap: 0.2rem;
        button {
          @include justify-content-center();
          padding: 1rem;
          border-radius: 0.2rem;
          width: 100%;
          transition: all 500ms ease;
          background-color: var(--white-color);
          &:hover {
            background-color: var(--counter-color);
          }
        }
        .count {
          padding: 1rem;
          border-radius: 0.2rem;
          width: 100%;
          display: flex;
          justify-content: center;
          font-weight: 500;
        }
      }
    }
  }
}

.notItemsCart {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
}

.counter {
  padding: 1rem;
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  background: white;
  .blockCounter {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: black;

    .totalPrice {
      font-size: 1.4rem;
      text-align: center;
      font-weight: 600;
      text-align: left;
    }
    .counterProduct {
      text-align: left;
      text-align: center;
    }
  }
  .button {
    padding: 0.5rem 6rem;
    background: #32b015;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.2rem;
    text-transform: uppercase;
  }
}
