.category {
  margin: 10px 0;

  h4 {
    color: var(--header-text-color);
    padding: 0 0 5px 0;
  }
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-weight: 600;

  .active {
    background: var(--header-bg-color);
  }

  .notactive {
    background: var(--white-color);
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 115px;

    border-radius: 0.5rem;
    cursor: pointer;
  }

  span {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;

    .name {
      font-size: 0.6rem;
    }

    .count {
      font-size: 0.5rem;
      color: var(--price-color);
    }
  }
}
