.cart .cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0.6rem;
}
.cart .cart-items .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--white-color);
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart .cart-items .cart-item .info-block {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6rem;
}
.cart .cart-items .cart-item .info-block .rating {
  font-size: 0.9rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
}
.cart .cart-items .cart-item .info-block p {
  font-size: 0.8rem;
  color: var(--header-text-color);
}
.cart .cart-items .cart-item .info-block .buttons-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
.cart .cart-items .cart-item .info-block .buttons-cart .trash {
  width: 4%;
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.2rem;
}
.cart .cart-items .cart-item .info-block .buttons-cart .button-favorite-cart-active {
  width: 4%;
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.2rem;
  color: var(--active-button-f-color);
}
.cart .cart-items .cart-item .info-block .buttons-cart .button-favorite-cart {
  width: 4%;
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.2rem;
}
.cart .cart-items .cart-item .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  width: 5%;
}
.cart .cart-items .cart-item .quantity {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2rem;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cart .cart-items .cart-item .quantity button {
  padding: 1rem;
  border-radius: 0.2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: var(--white-color);
}
.cart .cart-items .cart-item .quantity button:hover {
  background-color: var(--counter-color);
}
.cart .cart-items .cart-item .quantity span {
  padding: 1rem;
  border-radius: 0.2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
}

.notItemsCart {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
}

.linkcart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.counter {
  padding: 1rem;
  margin-top: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3px;
  background: white;
}
.counter .info-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  color: black;
}
.counter .info-counter span {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
  text-align: left;
}
.counter .info-counter p {
  text-align: left;
  text-align: center;
}
.counter .shop-cart {
  padding: 0.5rem 6rem;
  background: #32b015;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.2rem;
  text-transform: uppercase;
}