main {
  max-width: 1280px;
  margin: 0 auto;
}
main .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .products .product {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5.5px 5.5px 0 5.5px;
  width: 245px;
  background-color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0.8rem 0.8rem;
  border-radius: 0.2rem;
}
main .products .product .card-button {
  background: var(--card-button-color);
  color: var(--white-color);
  padding: 12px 35px;
  border-radius: 0.2rem;
  font-weight: 500;
  font-size: 0.8rem;
  width: 100%;
}
main .products .product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  font-weight: 500;
  font-size: 0.8rem;
}
main .products .product .price .price_ {
  color: var(--price-color);
}
main .products .product .price .discount {
  color: var(--discount-color);
}
main .products .product .rating {
  font-size: 0.9rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
}
main .products .product p {
  font-size: 0.8rem;
  color: var(--header-text-color);
}

.button-favorite {
  position: absolute;
  color: var(--header-button-f-color);
  cursor: pointer;
  top: 8px;
  right: 5px;
  z-index: 5;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.button-favorite-active {
  color: var(--active-button-f-color);
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 5px;
  z-index: 5;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}